<!-- hr -->
<hr style="width: 100%; color: #cf111a; margin-top: 0px;">

<!-- giao diện giỏ hàng  -->
<section class="content my-3" style="min-height: 560px;">
  <div class="container">
    <div class="cart-page bg-white">
      <div class="row">
        <% if @order_items.count == 0 %>
        <!-- giao diện giỏ hàng khi không có item  -->
        <div class="col-12 cart-empty">
          <div class="py-3 ps-3">
            <h6 class="header-gio-hang"><%= t(".cart_title") %><span><%= t(".cart_count_empty") %></span></h6>
            <div class="cart-empty-content w-100 text-center justify-content-center">
              <%= image_tag 'shopping-cart-not-product.png', alt: 'shopping-cart-not-product' %>
              <p><%= t(".cart_empty") %></p>
              <a href="<%= root_path %>" class="btn nutmuathem mb-3"><%= t(".add_cart") %></a>
            </div>
          </div>
        </div>
        <% else %>
        <!-- giao diện giỏ hàng khi có hàng (phần comment màu xanh bên dưới là phần 2 sản phẩm trong giỏ hàng nhưng giờ đã demo bằng jquery) -->
        <div class="col-md-8 cart">
          <div class="cart-content py-3 ps-3">
            <h6 class="header-gio-hang"><%= t(".cart_title") %><span><%= t(".cart_count", count: @order_items.count) %></span></h6>
            <% @products.each do |product| %>
            <% order_item = @order_items.find_by(product_id: product.id) %>
            <div class="cart-list-items">
              <div class="cart-item d-flex">
                <a href="<%= product_path(product) %>" class="img">
                  <%= image_tag product.images.first, class: 'img-fluid', alt: product.title.split.join('-') %>
                </a>
                <div class="item-caption d-flex w-100">
                  <div class="item-info ms-3">
                    <a href="<%= product_path(product) %>" class="ten"><%= product.title %></a>
                    <div class="soluong d-flex">
                      <div class="input-number input-group mb-3">
                        <div class="input-group-prepend">
                          <%= form_with url: order_dec_path(@order), data: { remote: true } do |f| %>
                            <%= f.hidden_field :product_id, value: product.id %>
                            <%= f.submit '-', class: 'input-group-text btn-spin btn-dec' %>
                          <% end %>
                        </div>
                        <input type="text" value="<%= order_item.quantity %>" id="sp-<%= product.id %>" class="soluongsp text-center">
                        <div class="input-group-append">
                          <%= form_with url: order_inc_path(@order), data: {remote: true} do |f| %>
                            <%= f.hidden_field :product_id, value: product.id %>
                            <%= f.submit '+', class: 'input-group-text btn-spin btn-inc' %>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="item-price ms-auto d-flex flex-column align-items-end">
                    <% final_price = product.price * (100 - product.discount) / 100 %>
                    <div class="giamoi" style="color: #212529; font-size: 14px; font-weight: 400;";"><%= ActiveSupport::NumberHelper.number_to_delimited(final_price.to_i, delimiter: '.') %> ₫</div>
                    <div class="giacu"><%= ActiveSupport::NumberHelper.number_to_delimited(product.price.to_i, delimiter: '.') %> ₫</div>
                    <span class="remove mt-auto"><i class="bi bi-trash"></i></span>
                  </div>
                </div>
              </div>
              <hr>
            </div>
            <% end %>
            <div class="row">
              <div class="col-md-3">
                <a href="<%= root_path %>" class="btn nutmuathem mb-3"><%= t(".add_cart") %></a>
              </div>
              <div class="col-md-5 offset-md-4">
                <div class="tonggiatien">
                  <div class="group d-flex justify-content-between">
                    <p class="label"><%= t(".provisional") %></p>
                    <p class="tamtinh"><%= ActiveSupport::NumberHelper.number_to_delimited(@order.sub_total.to_i, delimiter: '.') %> ₫</p>
                  </div>
                  <div class="group d-flex justify-content-between">
                    <p class="label"><%= t(".discount") %></p>
                    <p class="giamgia">0 ₫</p>
                  </div>
                  <div class="group d-flex justify-content-between">
                    <p class="label"><%= t(".transport_fee") %></p>
                    <p class="phivanchuyen">0 ₫</p>
                  </div>
                  <div class="group d-flex justify-content-between">
                    <p class="label"><%= t(".service_fee") %></p>
                    <p class="phidicvu">0 ₫</p>
                  </div>
                  <div class="group d-flex justify-content-between align-items-center">
                    <strong class="text-uppercase"><%= t(".total") %></strong>
                    <p class="tongcong"><%= ActiveSupport::NumberHelper.number_to_delimited(@order.sub_total.to_i, delimiter: '.') %> ₫</p>
                  </div>
                  <small class="note d-flex justify-content-end text-muted"><%= t(".tax") %></small>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- giao diện phần thanh toán nằm bên phải  -->
        <div class="col-md-4 cart-steps ps-0">
          <div id="cart-steps-accordion" role="tablist" aria-multiselectable="true">
            <!-- bước số 1: nhập địa chỉ giao hàng  -->
            <div class="card" style="border-radius: 0;">
              <div class="card-header" role="tab" id="step2header">
                <h5 class="mb-0">
                  <a data-bs-toggle="collapse" data-bs-parent="#cart-steps-accordion" href="#step2contentid" aria-expanded="true" aria-controls="step2contentid" class="text-uppercase header">
                    <span class="steps"><%= t(".cart_step_1_number") %></span>
                    <span class="label"><%= t(".cart_step_1_content") %></span>
                    <i class="bi bi-chevron-right float-end"></i>
                  </a>
                </h5>
              </div>
              <div id="step2contentid" class="collapse in" role="tabpanel" aria-labelledby="step2header" class="stepscontent">
                <div class="card-body">
                  <form class="form-diachigiaohang">
                    <div class="form-label-group">
                      <input type="text" id="inputName" class="form-control" placeholder="Nhập họ và tên" name="name" required autofocus>
                    </div>
                    <div class="form-label-group">
                      <input type="text" id="inputPhone" class="form-control" placeholder="Nhập số điện thoại" name="phone" required>
                    </div>
                    <div class="form-label-group">
                      <input type="email" id="inputEmail" class="form-control" placeholder="Nhập địa chỉ email" name="email" required>
                    </div>
                    <div class="form-label-group">
                      <input type="text" id="inputAddress" class="form-control" placeholder="Nhập Địa chỉ giao hàng" name="address" required>
                    </div>
                    <div class="form-label-group">
                      <input type="text" id="inputCity" class="form-control" placeholder="Nhập Tỉnh/Thành phố" name="city" required>
                    </div>
                    <div class="form-label-group">
                      <input type="text" id="inputDistrict" class="form-control" placeholder="Nhập Quận/Huyện" name="district" required>
                    </div>
                    <div class="form-label-group">
                      <textarea type="text" id="inputNote" class="form-control" placeholder="Nhập ghi chú (Nếu có)" name="note"></textarea>
                    </div>
                    <input type="checkbox" name="default-address" id="default-address"> <%= t('.default_address') %>
                  </form>
                </div>
              </div>
            </div>
            <!-- bước 2: thanh toán đặt mua  -->
            <div class="card">
              <div class="card-header" role="tab" id="step3header">
                <h5 class="mb-0">
                  <a data-bs-toggle="collapse" data-bs-parent="#cart-steps-accordion" href="#step3contentid" aria-expanded="true" aria-controls="step3contentid" class="text-uppercase header">
                    <span class="steps"><%= t(".cart_step_2_number") %></span>
                    <span class="label"><%= t(".cart_step_2_content") %></span>
                    <i class="bi bi-chevron-right float-end"></i>
                  </a>
                </h5>
              </div>
              <div id="step3contentid" class="collapse in" role="tabpanel" aria-labelledby="step3header" class="stepscontent">
                <div class="card-body" style="padding: 15px;">
                  <div class="goigiaohang">
                    <h6 class="header text-uppercase"><%= t(".choose_package") %></h6>
                    <div class="option">
                      <input type="radio" name="goigiaohang" id="ghtc" checked>
                      <label for="ghtc"><%= t(".standard_delivery") %></label>
                      <p><%= t(".standard_delivery_time") %></p>
                    </div>
                    <div class="option">
                      <input type="radio" name="goigiaohang" id="ghn">
                      <label for="ghn"><%= t(".fast_delivery") %></label>
                      <p><%= t(".fast_delivery_time") %></p>
                    </div>
                  </div>
                  <hr>
                  <div class="pttt">
                    <h6 class="header text-uppercase"><%= t(".select_payment") %></h6>
                    <div class="option mb-2">
                      <input type="radio" name="pttt" id="cod" checked>
                      <label for="cod"><%= t(".cod_payment") %></label>
                    </div>
                    <div class="option option2">
                      <input type="radio" name="pttt" id="atm">
                      <label for="atm" class="chuyenkhoan"><%= t(".atm_payment") %></label>
                      <%= t(".atm_note_html") %>
                    </div>
                  </div>
                  <hr>
                  <button class="btn btn-lg btn-block btn-checkout text-uppercase text-white" style="background: #F5A623; width: 100%; font-size: 85%;">Đặt mua</button>
                  <p class="text-center note-before-checkout"><%= t(".check_order") %></p>
                </div>
              </div>
            </div>
          </div>
          <script type="text/javascript">
            // rotate chevron
            $('#step1contentid').on('show.bs.collapse', function() {
              $(this).prev().addClass('active');
            });
            $('#step1contentid').on('hide.bs.collapse', function() {
              $(this).prev().removeClass('active');
            });
            $('#step2contentid').on('show.bs.collapse', function() {
              $(this).prev().addClass('active');
            });
            $('#step2contentid').on('hide.bs.collapse', function() {
              $(this).prev().removeClass('active');
            });
            $('#step3contentid').on('show.bs.collapse', function() {
              $(this).prev().addClass('active');
            });
            $('#step3contentid').on('hide.bs.collapse', function() {
              $(this).prev().removeClass('active');
            });

            // nut btn-shopping-without-signup
            $('#step1contentid').collapse('show');
            $('.btn-shoping-without-signup').on('click', function(e) {
              $('#step1contentid').collapse('hide');
              $('#step2contentid').collapse('show');
            }); 
          </script>
        </div>
        <% end %>
        <!-- het div cart-steps  -->
      </div>
      <!-- het row  -->
    </div>
    <!-- het cart-page  -->
  </div>
  <!-- het container  -->
</section>
<!-- het khoi content  -->