<!-- hr -->
<hr style="width: 100%; color: #cf111a; margin-top: 0px;">

<div class="container" id="address-index" style="background-color: #fff;">
  <div class="row" style="padding: 30px;">
    <!-- left : dia chi mac dinh -->
    <div class="col">
      <h1 style="color: #565555; font-size: 20px;">SỔ ĐỊA CHỈ</h1>
      <h2 style="font-weight: bold; font-size: 13px; margin-top: 25px;">ĐỊA CHỈ MẶC ĐỊNH</h2>
      <!-- khoi dia chi -->
      <div class="khoi-dia-chi" style="margin-left: 10px; margin-top: 5px;">
        <p><%= @default_address.name %></p>
        <p><%= @default_address.split_address.first %></p>
        <p><%= @default_address.split_address.last %></p>
        <p>Tel: <%= @default_address.contact_phone %></p>
        <p>
          <%= link_to 'Thay đổi địa chỉ giao hàng', '' %>
        </p>
      </div>
    </div>

    <!-- right -->
    <div class="col">
      <%= link_to 'THÊM ĐỊA CHỈ MỚI', new_address_path, class: 'add-address btn float-end' %>
      <h2 style="font-weight: bold; font-size: 13px; margin-top: 50px;">ĐỊA CHỈ MẶC ĐỊNH</h2>
      <!-- khoi dia chi -->
      <% @addresses.each do |address| %>
        <div class="khoi-dia-chi" style="margin-left: 10px; margin-top: 5px; margin-bottom: 25px;">
          <p><%= address.name %></p>
          <p><%= address.split_address.first %></p>
          <p><%= address.split_address.last %></p>
          <p>Tel: <%= address.contact_phone %></p>
          <p>
            <%= link_to 'Sửa địa chỉ ', '#' %>|
            <%= link_to ' Xóa địa chỉ', '#' %>
          </p>
        </div>
      <% end %>
    </div>
  </div>
</div>