<!-- hr -->
<hr style="width: 100%; color: #cf111a; margin-top: 0px;">

<!-- thể loại sách: kinh tế chính trị nhân vật bài học kinh doanh ( từng ô vuông) -->
<section class="page-content my-3">
  <div class="container">
    <div>
      <h1 class="header text-uppercase"><%= @category.name %></h1>
    </div>
    <div class="the-loai-sach">
      <ul class="row list-unstyled d-flex">
        <% number = 10 - @category.products.count %>
        <% @category.products.limit(10).each do |product| %>
        <li class="col">
          <a href="<%= product_path(product) %>" class="danh-muc text-decoration-none">
            <div class="img-categories text-center">
              <%= image_tag product.images.first, alt: product.title.split.join('-') %>
            </div>
            <div class="ten">
              <%= product.title %>
            </div>
          </a>
        </li>
        <% end %>
        <% for i in 0..(number - 1) %>
        <li class="col li-tmp"></li>
        <% end %>
      </ul>
    </div>
  </div>
</section>

<!-- khối sản phẩm  -->
<section class="content my-4">
  <div class="container">
    <div class="noidung bg-white" style=" width: 100%;">
      <!-- header của khối sản phẩm : tag(tác giả), bộ lọc và sắp xếp  -->
      <div class="header-khoi-sp d-flex">
        <div class="tag">
          <label>Tác giả nổi bật:</label>
          <a href="#">Tất cả</a>
          <% @category.products.limit(6).each do |product| %>
            <%= link_to product.authors, '#' %>
          <% end %>
        </div>
        <div class="sort d-flex ms-auto">
          <div class="hien-thi">
            <label for="hienthi-select" class="label-select">Hiển thị</label>
            <select class="hienthi-select">
              <option value="10">10</option>
              <option value="20">20</option>
            </select>
          </div>
          <div class="sap-xep">
            <label for="sapxep-select" class="label-select">Sắp xếp</label>
            <select class="sapxep-select">
              <option value="moinhat">Mới nhất</option>
              <option value="thap-cao">Giá: Thấp - Cao</option>
              <option value="cao-thap">Giá: Cao - Thấp</option>
            </select>
          </div>
        </div>
      </div>

      <!-- các sản phẩm  -->
      <div class="items">
        <div class="row">
          <% @category.products.each do |product| %>
          <div class="col-lg-3 col-md-4 col-xs-6 item">
            <div class="card ">
              <a href="<%= product_path(product) %>" class="motsanpham" style="text-decoration: none; color: black;"
                data-toggle="tooltip" data-placement="bottom" title="Lập Kế Hoạch Kinh Doanh Hiệu Quả">
                <%= image_tag product.images.first, class: 'card-img-top anh',
                  alt: product.title.split.join('-') %>
                <div class="card-body noidungsp mt-3">
                  <h6 class="card-title ten"><%= product.title %></h6>
                  <small class="tacgia text-muted"><%= product.authors %></small>
                  <div class="gia d-flex align-items-baseline">
                    <% discount_price = product.price * product.discount / 100 %>
                    <% final_price = product.price - discount_price %>
                    <div class="giamoi"><%= ActiveSupport::NumberHelper.number_to_delimited(final_price.to_i, delimiter: '.') %> ₫</div>
                    <div class="giacu text-muted"><%= ActiveSupport::NumberHelper.number_to_delimited(product.price.to_i, delimiter: '.') %> ₫</div>
                    <div class="sale">-<%= product.discount.to_i %>%</div>
                  </div>
                  <div class="danhgia">
                    <ul class="d-flex" style="list-style: none; padding-left: 0px;">
                      <li class="active"><i class="bi bi-star-fill"></i></li>
                      <li class="active"><i class="bi bi-star-fill"></i></li>
                      <li class="active"><i class="bi bi-star-fill"></i></li>
                      <li class="active"><i class="bi bi-star-fill"></i></li>
                      <li><i class="bi bi-star-fill"></i></li>
                      <span class="text-muted">0 nhận xét</span>
                    </ul>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <% end %>
        </div>
      </div>

      <!-- pagination bar -->
      <div class="pagination-bar my-3">
        <div class="row">
          <div class="col-12">
            <nav aria-label="Page navigation example">
              <ul class="pagination justify-content-center">
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>

      <!--het khoi san pham-->
    </div>
    <!--het div noidung-->
  </div>
  <!--het container-->
</section>
<!--het _1khoi-->