<!-- hr -->
<hr style="width: 100%; color: #cf111a; margin-top: 30px;">

<!-- breadcrumb  -->
<section class="breadcrumbbar">
  <nav class="container" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
      <li class="breadcrumb-item active" aria-current="page">Sách mới tuyển chọn</li>
    </ol>
  </nav>
</section>

<!-- ảnh banner -->
<section class="banner">
  <div class="container">
    <a href="sach-moi-tuyen-chon.html">
      <%= image_tag 'sach-moi-full-banner.jpg', class: 'img-fluid', alt: 'sach-moi-full-banner' %>
    </a>
  </div>
</section>

<!-- các sản phẩm  -->
<section class="content my-4">
  <div class="container">
    <div class="noidung bg-white" style=" width: 100%;">
      <div class="items">
        <div class="row">
          <div class="col-lg-3 col-md-4 col-xs-6">

            <!-- 1 sản phẩm  -->
            <div class="card">
              <a href="product-item.html" class="motsanpham" style="text-decoration: none; color: black;"
                data-toggle="tooltip" data-placement="bottom" title="Lập Kế Hoạch Kinh Doanh Hiệu Quả">
                <%= image_tag 'lap-ke-hoach-kinh-doanh-hieu-qua.jpg', class: 'card-img-top anh',
                  alt: 'lap-ke-hoach-kinh-doanh-hieu-qua' %>
                <div class="card-body noidungsp mt-3">
                  <h6 class="card-title ten">Lập Kế Hoạch Kinh Doanh Hiệu Quả</h6>
                  <small class="tacgia text-muted">Brian Finch</small>
                  <div class="gia d-flex align-items-baseline">
                    <div class="giamoi">111.200 ₫</div>
                    <div class="giacu text-muted">139.000 ₫</div>
                    <div class="sale">-20%</div>
                  </div>
                  <div class="danhgia">
                    <ul class="d-flex" style="list-style: none;">
                      <li class="active"><i class="fa fa-star"></i></li>
                      <li class="active"><i class="fa fa-star"></i></li>
                      <li class="active"><i class="fa fa-star"></i></li>
                      <li class="active"><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <span class="text-muted">0 nhận xét</span>
                    </ul>
                  </div>
                </div>
              </a>
            </div>

          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="card">
              <a href="product-item.html" class="motsanpham" style="text-decoration: none; color: black;"
                data-toggle="tooltip" data-placement="bottom" title="Lập Kế Hoạch Kinh Doanh Hiệu Quả">
                <%= image_tag 'lap-ke-hoach-kinh-doanh-hieu-qua.jpg', class: 'card-img-top anh',
                  alt: 'lap-ke-hoach-kinh-doanh-hieu-qua' %>
                <div class="card-body noidungsp mt-3">
                  <h6 class="card-title ten">Lập Kế Hoạch Kinh Doanh Hiệu Quả</h6>
                  <small class="tacgia text-muted">Brian Finch</small>
                  <div class="gia d-flex align-items-baseline">
                    <div class="giamoi">111.200 ₫</div>
                    <div class="giacu text-muted">139.000 ₫</div>
                    <div class="sale">-20%</div>
                  </div>
                  <div class="danhgia">
                    <ul class="d-flex" style="list-style: none;">
                      <li class="active"><i class="fa fa-star"></i></li>
                      <li class="active"><i class="fa fa-star"></i></li>
                      <li class="active"><i class="fa fa-star"></i></li>
                      <li class="active"><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <span class="text-muted">0 nhận xét</span>
                    </ul>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="card">
              <a href="product-item.html" class="motsanpham" style="text-decoration: none; color: black;"
                data-toggle="tooltip" data-placement="bottom" title="Lập Kế Hoạch Kinh Doanh Hiệu Quả">
                <%= image_tag 'lap-ke-hoach-kinh-doanh-hieu-qua.jpg', class: 'card-img-top anh',
                  alt: 'lap-ke-hoach-kinh-doanh-hieu-qua' %>
                <div class="card-body noidungsp mt-3">
                  <h6 class="card-title ten">Lập Kế Hoạch Kinh Doanh Hiệu Quả</h6>
                  <small class="tacgia text-muted">Brian Finch</small>
                  <div class="gia d-flex align-items-baseline">
                    <div class="giamoi">111.200 ₫</div>
                    <div class="giacu text-muted">139.000 ₫</div>
                    <div class="sale">-20%</div>
                  </div>
                  <div class="danhgia">
                    <ul class="d-flex" style="list-style: none;">
                      <li class="active"><i class="fa fa-star"></i></li>
                      <li class="active"><i class="fa fa-star"></i></li>
                      <li class="active"><i class="fa fa-star"></i></li>
                      <li class="active"><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <span class="text-muted">0 nhận xét</span>
                    </ul>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="card">
              <a href="product-item.html" class="motsanpham" style="text-decoration: none; color: black;"
                data-toggle="tooltip" data-placement="bottom" title="Lập Kế Hoạch Kinh Doanh Hiệu Quả">
                <%= image_tag 'lap-ke-hoach-kinh-doanh-hieu-qua.jpg', class: 'card-img-top anh',
                  alt: 'lap-ke-hoach-kinh-doanh-hieu-qua' %>
                <div class="card-body noidungsp mt-3">
                  <h6 class="card-title ten">Lập Kế Hoạch Kinh Doanh Hiệu Quả</h6>
                  <small class="tacgia text-muted">Brian Finch</small>
                  <div class="gia d-flex align-items-baseline">
                    <div class="giamoi">111.200 ₫</div>
                    <div class="giacu text-muted">139.000 ₫</div>
                    <div class="sale">-20%</div>
                  </div>
                  <div class="danhgia">
                    <ul class="d-flex" style="list-style: none;">
                      <li class="active"><i class="fa fa-star"></i></li>
                      <li class="active"><i class="fa fa-star"></i></li>
                      <li class="active"><i class="fa fa-star"></i></li>
                      <li class="active"><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <span class="text-muted">0 nhận xét</span>
                    </ul>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="card">
              <a href="product-item.html" class="motsanpham" style="text-decoration: none; color: black;"
                data-toggle="tooltip" data-placement="bottom" title="Lập Kế Hoạch Kinh Doanh Hiệu Quả">
                <%= image_tag 'lap-ke-hoach-kinh-doanh-hieu-qua.jpg', class: 'card-img-top anh',
                  alt: 'lap-ke-hoach-kinh-doanh-hieu-qua' %>
                <div class="card-body noidungsp mt-3">
                  <h6 class="card-title ten">Lập Kế Hoạch Kinh Doanh Hiệu Quả</h6>
                  <small class="tacgia text-muted">Brian Finch</small>
                  <div class="gia d-flex align-items-baseline">
                    <div class="giamoi">111.200 ₫</div>
                    <div class="giacu text-muted">139.000 ₫</div>
                    <div class="sale">-20%</div>
                  </div>
                  <div class="danhgia">
                    <ul class="d-flex" style="list-style: none;">
                      <li class="active"><i class="fa fa-star"></i></li>
                      <li class="active"><i class="fa fa-star"></i></li>
                      <li class="active"><i class="fa fa-star"></i></li>
                      <li class="active"><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <span class="text-muted">0 nhận xét</span>
                    </ul>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="card">
              <a href="product-item.html" class="motsanpham" style="text-decoration: none; color: black;"
                data-toggle="tooltip" data-placement="bottom" title="Lập Kế Hoạch Kinh Doanh Hiệu Quả">
                <%= image_tag 'lap-ke-hoach-kinh-doanh-hieu-qua.jpg', class: 'card-img-top anh',
                  alt: 'lap-ke-hoach-kinh-doanh-hieu-qua' %>
                <div class="card-body noidungsp mt-3">
                  <h6 class="card-title ten">Lập Kế Hoạch Kinh Doanh Hiệu Quả</h6>
                  <small class="tacgia text-muted">Brian Finch</small>
                  <div class="gia d-flex align-items-baseline">
                    <div class="giamoi">111.200 ₫</div>
                    <div class="giacu text-muted">139.000 ₫</div>
                    <div class="sale">-20%</div>
                  </div>
                  <div class="danhgia">
                    <ul class="d-flex" style="list-style: none;">
                      <li class="active"><i class="fa fa-star"></i></li>
                      <li class="active"><i class="fa fa-star"></i></li>
                      <li class="active"><i class="fa fa-star"></i></li>
                      <li class="active"><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <span class="text-muted">0 nhận xét</span>
                    </ul>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="card">
              <a href="product-item.html" class="motsanpham" style="text-decoration: none; color: black;"
                data-toggle="tooltip" data-placement="bottom" title="Lập Kế Hoạch Kinh Doanh Hiệu Quả">
                <%= image_tag 'lap-ke-hoach-kinh-doanh-hieu-qua.jpg', class: 'card-img-top anh',
                  alt: 'lap-ke-hoach-kinh-doanh-hieu-qua' %>
                <div class="card-body noidungsp mt-3">
                  <h6 class="card-title ten">Lập Kế Hoạch Kinh Doanh Hiệu Quả</h6>
                  <small class="tacgia text-muted">Brian Finch</small>
                  <div class="gia d-flex align-items-baseline">
                    <div class="giamoi">111.200 ₫</div>
                    <div class="giacu text-muted">139.000 ₫</div>
                    <div class="sale">-20%</div>
                  </div>
                  <div class="danhgia">
                    <ul class="d-flex" style="list-style: none;">
                      <li class="active"><i class="fa fa-star"></i></li>
                      <li class="active"><i class="fa fa-star"></i></li>
                      <li class="active"><i class="fa fa-star"></i></li>
                      <li class="active"><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <span class="text-muted">0 nhận xét</span>
                    </ul>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="card">
              <a href="product-item.html" class="motsanpham" style="text-decoration: none; color: black;"
                data-toggle="tooltip" data-placement="bottom" title="Lập Kế Hoạch Kinh Doanh Hiệu Quả">
                <%= image_tag 'lap-ke-hoach-kinh-doanh-hieu-qua.jpg', class: 'card-img-top anh',
                  alt: 'lap-ke-hoach-kinh-doanh-hieu-qua' %>
                <div class="card-body noidungsp mt-3">
                  <h6 class="card-title ten">Lập Kế Hoạch Kinh Doanh Hiệu Quả</h6>
                  <small class="tacgia text-muted">Brian Finch</small>
                  <div class="gia d-flex align-items-baseline">
                    <div class="giamoi">111.200 ₫</div>
                    <div class="giacu text-muted">139.000 ₫</div>
                    <div class="sale">-20%</div>
                  </div>
                  <div class="danhgia">
                    <ul class="d-flex" style="list-style: none;">
                      <li class="active"><i class="fa fa-star"></i></li>
                      <li class="active"><i class="fa fa-star"></i></li>
                      <li class="active"><i class="fa fa-star"></i></li>
                      <li class="active"><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <span class="text-muted">0 nhận xét</span>
                    </ul>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="card">
              <a href="product-item.html" class="motsanpham" style="text-decoration: none; color: black;"
                data-toggle="tooltip" data-placement="bottom" title="Lập Kế Hoạch Kinh Doanh Hiệu Quả">
                <%= image_tag 'lap-ke-hoach-kinh-doanh-hieu-qua.jpg', class: 'card-img-top anh',
                  alt: 'lap-ke-hoach-kinh-doanh-hieu-qua' %>
                <div class="card-body noidungsp mt-3">
                  <h6 class="card-title ten">Lập Kế Hoạch Kinh Doanh Hiệu Quả</h6>
                  <small class="tacgia text-muted">Brian Finch</small>
                  <div class="gia d-flex align-items-baseline">
                    <div class="giamoi">111.200 ₫</div>
                    <div class="giacu text-muted">139.000 ₫</div>
                    <div class="sale">-20%</div>
                  </div>
                  <div class="danhgia">
                    <ul class="d-flex" style="list-style: none;">
                      <li class="active"><i class="fa fa-star"></i></li>
                      <li class="active"><i class="fa fa-star"></i></li>
                      <li class="active"><i class="fa fa-star"></i></li>
                      <li class="active"><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <span class="text-muted">0 nhận xét</span>
                    </ul>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="card">
              <a href="product-item.html" class="motsanpham" style="text-decoration: none; color: black;"
                data-toggle="tooltip" data-placement="bottom" title="Lập Kế Hoạch Kinh Doanh Hiệu Quả">
                <%= image_tag 'lap-ke-hoach-kinh-doanh-hieu-qua.jpg', class: 'card-img-top anh',
                  alt: 'lap-ke-hoach-kinh-doanh-hieu-qua' %>
                <div class="card-body noidungsp mt-3">
                  <h6 class="card-title ten">Lập Kế Hoạch Kinh Doanh Hiệu Quả</h6>
                  <small class="tacgia text-muted">Brian Finch</small>
                  <div class="gia d-flex align-items-baseline">
                    <div class="giamoi">111.200 ₫</div>
                    <div class="giacu text-muted">139.000 ₫</div>
                    <div class="sale">-20%</div>
                  </div>
                  <div class="danhgia">
                    <ul class="d-flex" style="list-style: none;">
                      <li class="active"><i class="fa fa-star"></i></li>
                      <li class="active"><i class="fa fa-star"></i></li>
                      <li class="active"><i class="fa fa-star"></i></li>
                      <li class="active"><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <span class="text-muted">0 nhận xét</span>
                    </ul>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="card">
              <a href="product-item.html" class="motsanpham" style="text-decoration: none; color: black;"
                data-toggle="tooltip" data-placement="bottom" title="Lập Kế Hoạch Kinh Doanh Hiệu Quả">
                <%= image_tag 'lap-ke-hoach-kinh-doanh-hieu-qua.jpg', class: 'card-img-top anh',
                  alt: 'lap-ke-hoach-kinh-doanh-hieu-qua' %>
                <div class="card-body noidungsp mt-3">
                  <h6 class="card-title ten">Lập Kế Hoạch Kinh Doanh Hiệu Quả</h6>
                  <small class="tacgia text-muted">Brian Finch</small>
                  <div class="gia d-flex align-items-baseline">
                    <div class="giamoi">111.200 ₫</div>
                    <div class="giacu text-muted">139.000 ₫</div>
                    <div class="sale">-20%</div>
                  </div>
                  <div class="danhgia">
                    <ul class="d-flex" style="list-style: none;">
                      <li class="active"><i class="fa fa-star"></i></li>
                      <li class="active"><i class="fa fa-star"></i></li>
                      <li class="active"><i class="fa fa-star"></i></li>
                      <li class="active"><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <span class="text-muted">0 nhận xét</span>
                    </ul>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="card">
              <a href="product-item.html" class="motsanpham" style="text-decoration: none; color: black;"
                data-toggle="tooltip" data-placement="bottom" title="Lập Kế Hoạch Kinh Doanh Hiệu Quả">
                <%= image_tag 'lap-ke-hoach-kinh-doanh-hieu-qua.jpg', class: 'card-img-top anh',
                  alt: 'lap-ke-hoach-kinh-doanh-hieu-qua' %>
                <div class="card-body noidungsp mt-3">
                  <h6 class="card-title ten">Lập Kế Hoạch Kinh Doanh Hiệu Quả</h6>
                  <small class="tacgia text-muted">Brian Finch</small>
                  <div class="gia d-flex align-items-baseline">
                    <div class="giamoi">111.200 ₫</div>
                    <div class="giacu text-muted">139.000 ₫</div>
                    <div class="sale">-20%</div>
                  </div>
                  <div class="danhgia">
                    <ul class="d-flex" style="list-style: none;">
                      <li class="active"><i class="fa fa-star"></i></li>
                      <li class="active"><i class="fa fa-star"></i></li>
                      <li class="active"><i class="fa fa-star"></i></li>
                      <li class="active"><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <span class="text-muted">0 nhận xét</span>
                    </ul>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="card">
              <a href="product-item.html" class="motsanpham" style="text-decoration: none; color: black;"
                data-toggle="tooltip" data-placement="bottom" title="Lập Kế Hoạch Kinh Doanh Hiệu Quả">
                <%= image_tag 'lap-ke-hoach-kinh-doanh-hieu-qua.jpg', class: 'card-img-top anh',
                  alt: 'lap-ke-hoach-kinh-doanh-hieu-qua' %>
                <div class="card-body noidungsp mt-3">
                  <h6 class="card-title ten">Lập Kế Hoạch Kinh Doanh Hiệu Quả</h6>
                  <small class="tacgia text-muted">Brian Finch</small>
                  <div class="gia d-flex align-items-baseline">
                    <div class="giamoi">111.200 ₫</div>
                    <div class="giacu text-muted">139.000 ₫</div>
                    <div class="sale">-20%</div>
                  </div>
                  <div class="danhgia">
                    <ul class="d-flex" style="list-style: none;">
                      <li class="active"><i class="fa fa-star"></i></li>
                      <li class="active"><i class="fa fa-star"></i></li>
                      <li class="active"><i class="fa fa-star"></i></li>
                      <li class="active"><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <span class="text-muted">0 nhận xét</span>
                    </ul>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="card">
              <a href="product-item.html" class="motsanpham" style="text-decoration: none; color: black;"
                data-toggle="tooltip" data-placement="bottom" title="Lập Kế Hoạch Kinh Doanh Hiệu Quả">
                <%= image_tag 'lap-ke-hoach-kinh-doanh-hieu-qua.jpg', class: 'card-img-top anh',
                  alt: 'lap-ke-hoach-kinh-doanh-hieu-qua' %>
                <div class="card-body noidungsp mt-3">
                  <h6 class="card-title ten">Lập Kế Hoạch Kinh Doanh Hiệu Quả</h6>
                  <small class="tacgia text-muted">Brian Finch</small>
                  <div class="gia d-flex align-items-baseline">
                    <div class="giamoi">111.200 ₫</div>
                    <div class="giacu text-muted">139.000 ₫</div>
                    <div class="sale">-20%</div>
                  </div>
                  <div class="danhgia">
                    <ul class="d-flex" style="list-style: none;">
                      <li class="active"><i class="fa fa-star"></i></li>
                      <li class="active"><i class="fa fa-star"></i></li>
                      <li class="active"><i class="fa fa-star"></i></li>
                      <li class="active"><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <span class="text-muted">0 nhận xét</span>
                    </ul>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="card">
              <a href="product-item.html" class="motsanpham" style="text-decoration: none; color: black;"
                data-toggle="tooltip" data-placement="bottom" title="Lập Kế Hoạch Kinh Doanh Hiệu Quả">
                <%= image_tag 'lap-ke-hoach-kinh-doanh-hieu-qua.jpg', class: 'card-img-top anh',
                  alt: 'lap-ke-hoach-kinh-doanh-hieu-qua' %>
                <div class="card-body noidungsp mt-3">
                  <h6 class="card-title ten">Lập Kế Hoạch Kinh Doanh Hiệu Quả</h6>
                  <small class="tacgia text-muted">Brian Finch</small>
                  <div class="gia d-flex align-items-baseline">
                    <div class="giamoi">111.200 ₫</div>
                    <div class="giacu text-muted">139.000 ₫</div>
                    <div class="sale">-20%</div>
                  </div>
                  <div class="danhgia">
                    <ul class="d-flex" style="list-style: none;">
                      <li class="active"><i class="fa fa-star"></i></li>
                      <li class="active"><i class="fa fa-star"></i></li>
                      <li class="active"><i class="fa fa-star"></i></li>
                      <li class="active"><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <span class="text-muted">0 nhận xét</span>
                    </ul>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="card">
              <a href="product-item.html" class="motsanpham" style="text-decoration: none; color: black;"
                data-toggle="tooltip" data-placement="bottom" title="Lập Kế Hoạch Kinh Doanh Hiệu Quả">
                <%= image_tag 'lap-ke-hoach-kinh-doanh-hieu-qua.jpg', class: 'card-img-top anh',
                  alt: 'lap-ke-hoach-kinh-doanh-hieu-qua' %>
                <div class="card-body noidungsp mt-3">
                  <h6 class="card-title ten">Lập Kế Hoạch Kinh Doanh Hiệu Quả</h6>
                  <small class="tacgia text-muted">Brian Finch</small>
                  <div class="gia d-flex align-items-baseline">
                    <div class="giamoi">111.200 ₫</div>
                    <div class="giacu text-muted">139.000 ₫</div>
                    <div class="sale">-20%</div>
                  </div>
                  <div class="danhgia">
                    <ul class="d-flex" style="list-style: none;">
                      <li class="active"><i class="fa fa-star"></i></li>
                      <li class="active"><i class="fa fa-star"></i></li>
                      <li class="active"><i class="fa fa-star"></i></li>
                      <li class="active"><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <span class="text-muted">0 nhận xét</span>
                    </ul>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="card">
              <a href="product-item.html" class="motsanpham" style="text-decoration: none; color: black;"
                data-toggle="tooltip" data-placement="bottom" title="Lập Kế Hoạch Kinh Doanh Hiệu Quả">
                <%= image_tag 'lap-ke-hoach-kinh-doanh-hieu-qua.jpg', class: 'card-img-top anh',
                  alt: 'lap-ke-hoach-kinh-doanh-hieu-qua' %>
                <div class="card-body noidungsp mt-3">
                  <h6 class="card-title ten">Lập Kế Hoạch Kinh Doanh Hiệu Quả</h6>
                  <small class="tacgia text-muted">Brian Finch</small>
                  <div class="gia d-flex align-items-baseline">
                    <div class="giamoi">111.200 ₫</div>
                    <div class="giacu text-muted">139.000 ₫</div>
                    <div class="sale">-20%</div>
                  </div>
                  <div class="danhgia">
                    <ul class="d-flex" style="list-style: none;">
                      <li class="active"><i class="fa fa-star"></i></li>
                      <li class="active"><i class="fa fa-star"></i></li>
                      <li class="active"><i class="fa fa-star"></i></li>
                      <li class="active"><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <span class="text-muted">0 nhận xét</span>
                    </ul>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="card">
              <a href="product-item.html" class="motsanpham" style="text-decoration: none; color: black;"
                data-toggle="tooltip" data-placement="bottom" title="Lập Kế Hoạch Kinh Doanh Hiệu Quả">
                <%= image_tag 'lap-ke-hoach-kinh-doanh-hieu-qua.jpg', class: 'card-img-top anh',
                  alt: 'lap-ke-hoach-kinh-doanh-hieu-qua' %>
                <div class="card-body noidungsp mt-3">
                  <h6 class="card-title ten">Lập Kế Hoạch Kinh Doanh Hiệu Quả</h6>
                  <small class="tacgia text-muted">Brian Finch</small>
                  <div class="gia d-flex align-items-baseline">
                    <div class="giamoi">111.200 ₫</div>
                    <div class="giacu text-muted">139.000 ₫</div>
                    <div class="sale">-20%</div>
                  </div>
                  <div class="danhgia">
                    <ul class="d-flex" style="list-style: none;">
                      <li class="active"><i class="fa fa-star"></i></li>
                      <li class="active"><i class="fa fa-star"></i></li>
                      <li class="active"><i class="fa fa-star"></i></li>
                      <li class="active"><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <span class="text-muted">0 nhận xét</span>
                    </ul>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="card">
              <a href="product-item.html" class="motsanpham" style="text-decoration: none; color: black;"
                data-toggle="tooltip" data-placement="bottom" title="Lập Kế Hoạch Kinh Doanh Hiệu Quả">
                <%= image_tag 'lap-ke-hoach-kinh-doanh-hieu-qua.jpg', class: 'card-img-top anh',
                  alt: 'lap-ke-hoach-kinh-doanh-hieu-qua' %>
                <div class="card-body noidungsp mt-3">
                  <h6 class="card-title ten">Lập Kế Hoạch Kinh Doanh Hiệu Quả</h6>
                  <small class="tacgia text-muted">Brian Finch</small>
                  <div class="gia d-flex align-items-baseline">
                    <div class="giamoi">111.200 ₫</div>
                    <div class="giacu text-muted">139.000 ₫</div>
                    <div class="sale">-20%</div>
                  </div>
                  <div class="danhgia">
                    <ul class="d-flex" style="list-style: none;">
                      <li class="active"><i class="fa fa-star"></i></li>
                      <li class="active"><i class="fa fa-star"></i></li>
                      <li class="active"><i class="fa fa-star"></i></li>
                      <li class="active"><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <span class="text-muted">0 nhận xét</span>
                    </ul>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="card">
              <a href="product-item.html" class="motsanpham" style="text-decoration: none; color: black;"
                data-toggle="tooltip" data-placement="bottom" title="Lập Kế Hoạch Kinh Doanh Hiệu Quả">
                <%= image_tag 'lap-ke-hoach-kinh-doanh-hieu-qua.jpg', class: 'card-img-top anh',
                  alt: 'lap-ke-hoach-kinh-doanh-hieu-qua' %>
                <div class="card-body noidungsp mt-3">
                  <h6 class="card-title ten">Lập Kế Hoạch Kinh Doanh Hiệu Quả</h6>
                  <small class="tacgia text-muted">Brian Finch</small>
                  <div class="gia d-flex align-items-baseline">
                    <div class="giamoi">111.200 ₫</div>
                    <div class="giacu text-muted">139.000 ₫</div>
                    <div class="sale">-20%</div>
                  </div>
                  <div class="danhgia">
                    <ul class="d-flex" style="list-style: none;">
                      <li class="active"><i class="fa fa-star"></i></li>
                      <li class="active"><i class="fa fa-star"></i></li>
                      <li class="active"><i class="fa fa-star"></i></li>
                      <li class="active"><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <span class="text-muted">0 nhận xét</span>
                    </ul>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="card">
              <a href="product-item.html" class="motsanpham" style="text-decoration: none; color: black;"
                data-toggle="tooltip" data-placement="bottom" title="Lập Kế Hoạch Kinh Doanh Hiệu Quả">
                <%= image_tag 'lap-ke-hoach-kinh-doanh-hieu-qua.jpg', class: 'card-img-top anh',
                  alt: 'lap-ke-hoach-kinh-doanh-hieu-qua' %>
                <div class="card-body noidungsp mt-3">
                  <h6 class="card-title ten">Lập Kế Hoạch Kinh Doanh Hiệu Quả</h6>
                  <small class="tacgia text-muted">Brian Finch</small>
                  <div class="gia d-flex align-items-baseline">
                    <div class="giamoi">111.200 ₫</div>
                    <div class="giacu text-muted">139.000 ₫</div>
                    <div class="sale">-20%</div>
                  </div>
                  <div class="danhgia">
                    <ul class="d-flex" style="list-style: none;">
                      <li class="active"><i class="fa fa-star"></i></li>
                      <li class="active"><i class="fa fa-star"></i></li>
                      <li class="active"><i class="fa fa-star"></i></li>
                      <li class="active"><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <span class="text-muted">0 nhận xét</span>
                    </ul>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="card">
              <a href="product-item.html" class="motsanpham" style="text-decoration: none; color: black;"
                data-toggle="tooltip" data-placement="bottom" title="Lập Kế Hoạch Kinh Doanh Hiệu Quả">
                <%= image_tag 'lap-ke-hoach-kinh-doanh-hieu-qua.jpg', class: 'card-img-top anh',
                  alt: 'lap-ke-hoach-kinh-doanh-hieu-qua' %>
                <div class="card-body noidungsp mt-3">
                  <h6 class="card-title ten">Lập Kế Hoạch Kinh Doanh Hiệu Quả</h6>
                  <small class="tacgia text-muted">Brian Finch</small>
                  <div class="gia d-flex align-items-baseline">
                    <div class="giamoi">111.200 ₫</div>
                    <div class="giacu text-muted">139.000 ₫</div>
                    <div class="sale">-20%</div>
                  </div>
                  <div class="danhgia">
                    <ul class="d-flex" style="list-style: none;">
                      <li class="active"><i class="fa fa-star"></i></li>
                      <li class="active"><i class="fa fa-star"></i></li>
                      <li class="active"><i class="fa fa-star"></i></li>
                      <li class="active"><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <span class="text-muted">0 nhận xét</span>
                    </ul>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="card">
              <a href="product-item.html" class="motsanpham" style="text-decoration: none; color: black;"
                data-toggle="tooltip" data-placement="bottom" title="Lập Kế Hoạch Kinh Doanh Hiệu Quả">
                <%= image_tag 'lap-ke-hoach-kinh-doanh-hieu-qua.jpg', class: 'card-img-top anh',
                  alt: 'lap-ke-hoach-kinh-doanh-hieu-qua' %>
                <div class="card-body noidungsp mt-3">
                  <h6 class="card-title ten">Lập Kế Hoạch Kinh Doanh Hiệu Quả</h6>
                  <small class="tacgia text-muted">Brian Finch</small>
                  <div class="gia d-flex align-items-baseline">
                    <div class="giamoi">111.200 ₫</div>
                    <div class="giacu text-muted">139.000 ₫</div>
                    <div class="sale">-20%</div>
                  </div>
                  <div class="danhgia">
                    <ul class="d-flex" style="list-style: none;">
                      <li class="active"><i class="fa fa-star"></i></li>
                      <li class="active"><i class="fa fa-star"></i></li>
                      <li class="active"><i class="fa fa-star"></i></li>
                      <li class="active"><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <span class="text-muted">0 nhận xét</span>
                    </ul>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="card">
              <a href="product-item.html" class="motsanpham" style="text-decoration: none; color: black;"
                data-toggle="tooltip" data-placement="bottom" title="Lập Kế Hoạch Kinh Doanh Hiệu Quả">
                <%= image_tag 'lap-ke-hoach-kinh-doanh-hieu-qua.jpg', class: 'card-img-top anh',
                  alt: 'lap-ke-hoach-kinh-doanh-hieu-qua' %>
                <div class="card-body noidungsp mt-3">
                  <h6 class="card-title ten">Lập Kế Hoạch Kinh Doanh Hiệu Quả</h6>
                  <small class="tacgia text-muted">Brian Finch</small>
                  <div class="gia d-flex align-items-baseline">
                    <div class="giamoi">111.200 ₫</div>
                    <div class="giacu text-muted">139.000 ₫</div>
                    <div class="sale">-20%</div>
                  </div>
                  <div class="danhgia">
                    <ul class="d-flex" style="list-style: none;">
                      <li class="active"><i class="fa fa-star"></i></li>
                      <li class="active"><i class="fa fa-star"></i></li>
                      <li class="active"><i class="fa fa-star"></i></li>
                      <li class="active"><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <span class="text-muted">0 nhận xét</span>
                    </ul>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>

      <!-- pagination bar  -->
      <div class="pagination-bar my-3">
        <div class="row">
          <div class="col-12">
            <nav aria-label="Page navigation example">
              <ul class="pagination justify-content-center">
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>

      <!--het khoi san pham-->
    </div>
    <!--het div noidung-->
  </div>
  <!--het container-->
</section>