<!-- thanh cac dich vu :mien phi giao hang, qua tang mien phi ........ -->
<section class="abovefooter text-white" style="background-color: #CF111A;">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-sm-6">
        <div class="dichvu d-flex align-items-center">
          <%= image_tag 'icon-books.png', alt: 'icon-books' %>
          <div class="noidung">
            <h3 class="tieude font-weight-bold">HƠN 14.000 TỰA SÁCH HAY</h3>
            <p class="detail">Tuyển chọn bởi DealBooks</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="dichvu d-flex align-items-center">
          <%= image_tag 'icon-ship.png', alt: 'icon-ship' %>
          <div class="noidung">
            <h3 class="tieude font-weight-bold">MIỄN PHÍ GIAO HÀNG</h3>
            <p class="detail">Từ 150.000đ ở TP.HCM</p>
            <p class="detail">Từ 300.000đ ở tỉnh thành khác</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="dichvu d-flex align-items-center">
          <%= image_tag 'icon-gift.png', alt: 'icon-gift' %>
          <div class="noidung">
            <h3 class="tieude font-weight-bold">QUÀ TẶNG MIỄN PHÍ</h3>
            <p class="detail">Tặng Bookmark</p>
            <p class="detail">Bao sách miễn phí</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="dichvu d-flex align-items-center">
          <%= image_tag 'icon-return.png', alt: 'icon-return' %>
          <div class="noidung">
            <h3 class="tieude font-weight-bold">ĐỔI TRẢ NHANH CHÓNG</h3>
            <p class="detail">Hàng bị lỗi được đổi trả nhanh chóng</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- footer  -->
<footer>
  <div class="container py-4">
    <div class="row">
      <div class="col-md-3 col-xs-6">
        <div class="gioithieu">
          <h3 class="header text-uppercase font-weight-bold">Về DealBook</h3>
          <a href="#">Giới thiệu về DealBook</a>
          <a href="#">Tuyển dụng</a>
          <div class="fb-like" data-href="https://www.facebook.com/DealBook-110745443947730/" data-width="300px"
            data-layout="button" data-action="like" data-size="small" data-share="true"></div>
        </div>
      </div>
      <div class="col-md-3 col-xs-6">
        <div class="hotrokh">
          <h3 class="header text-uppercase font-weight-bold">HỖ TRỢ KHÁCH HÀNG</h3>
          <a href="#">Hướng dẫn đặt hàng</a>
          <a href="#">Phương thức thanh toán</a>
          <a href="#">Phương thức vận chuyển</a>
          <a href="#">Chính sách đổi trả</a>
        </div>
      </div>
      <div class="col-md-3 col-xs-6">
        <div class="lienket">
          <h3 class="header text-uppercase font-weight-bold">HỢP TÁC VÀ LIÊN KẾT</h3>
          <%= image_tag 'dang-ky-bo-cong-thuong.png', alt: 'dang-ky-bo-cong-thuong' %>
        </div>
      </div>
      <div class="col-md-3 col-xs-6">
        <div class="ptthanhtoan">
          <h3 class="header text-uppercase font-weight-bold">Phương thức thanh toán</h3>
          <%= image_tag 'visa-payment.jpg', alt: 'visa-payment' %>
          <%= image_tag 'master-card-payment.jpg', alt: 'master-card-payment' %>
          <%= image_tag 'jcb-payment.jpg', alt: 'jcb-payment' %>
          <%= image_tag 'atm-payment.jpg', alt: 'atm-payment' %>
          <%= image_tag 'cod-payment.jpg', alt: 'cod-payment' %>
          <%= image_tag 'payoo-payment.jpg', alt: 'payoo-payment' %>
        </div>
      </div>
    </div>
  </div>
</footer>