<!DOCTYPE html>
<html>
  <head>
    <title>BookStore</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>

  <body id="<%= controller_name %>">
    <% if current_page?(new_user_session_path) || current_page?(new_user_registration_path) %>
      <div style="min-height: 560px; background-color: #f0f0f0;">
        <%= yield %>
      </div>
    <% else %>
      <%= render "layouts/header" %>
      <div style="min-height: 560px; background-color: #f0f0f0;">
        <%= yield %>
      </div>
      <%= render "layouts/footer" %>
    <% end %>
  </body>
</html>
